<a href="" class="menu-link" title="Perfil">
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    <strong>{{ user.username }}</strong>
    <i class="fa fa-caret-down" aria-hidden="true"></i>
</a>
<span class="menu-arrow"></span>
<div class="menu-container">
    <div class="menu-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item p-0">
                <a href="" data-ng-click="onClick.account()">
                    <i class="fa fa-gear" aria-hidden="true"></i> My Account
                </a>
            </li>
            <li class="list-group-item p-0">
                <a href="" data-ng-click="onClick.exit()">
                    <i class="fa fa-power-off" aria-hidden="true"></i> Exit
                </a>
            </li>
        </ul>
    </div>
</div>